<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
  </configSections>

  <memcached>
    <servers>
      <add address="127.0.0.1" port="11121"  />
    </servers>
    <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
  </memcached>

</configuration>