<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BDDDSection" type="BDDD.Config.BDDDConfigSection, BDDD"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <BDDDSection xmlns="http://apworks.codeplex.com/Schemas/Configuration">
    <objectContainer provider="BDDD.ObjectContainers.Unity.UnityObjectContainer, BDDD.ObjectContainers.Unity" initFromConfigFile="true" sectionName="unity"/>
  </BDDDSection>
  
</configuration>