<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BDDDSection" type="BDDD.Config.BDDDConfigSection, BDDD"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>

  <BDDDSection xmlns="http://apworks.codeplex.com/Schemas/Configuration">
    <objectContainer provider="BDDD.ObjectContainers.Unity.UnityObjectContainer, BDDD.ObjectContainers.Unity" initFromConfigFile="true" sectionName="unity"/>
  </BDDDSection>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.connection_string">$dbconstr$</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="proxyfactory.factory_class">NHibernate.Bytecode.DefaultProxyFactoryFactory, NHibernate</property>
      <property name="show_sql">false</property>
      <mapping assembly="$safeprojectname$.Domain"/>
    </session-factory>
  </hibernate-configuration>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <container>

      <!--<register type="NHibernate.Cfg.Configuration, NHibernate" mapTo="BDDD.Repository.NHibernate.NHibernateConfiguration, BDDD.Repository.NHibernate">
        <lifetime type="ContainerControlledLifetimeManager"/>
        <constructor/>
      </register>-->

      <register type="BDDD.Repository.NHibernate.INHibernateConfiguration,BDDD.Repository.NHibernate" 
                mapTo="BDDD.Tests.ObjectContainers.Unity.FluentNHibernateConfiguration,BDDD.Tests.ObjectContainers.Unity">
        <lifetime type="ContainerControlledLifetimeManager" />
        <constructor/>
      </register>

      <register type="BDDD.Repository.IRepositoryContext, BDDD" 
                mapTo="BDDD.Repository.NHibernate.NHibernateContext, BDDD.Repository.NHibernate">
        <lifetime type="ContainerControlledLifetimeManager"/>
        <constructor>
          <param name="nhibernateConfig">
            <dependency type="BDDD.Repository.NHibernate.INHibernateConfiguration,BDDD.Repository.NHibernate"/>
          </param>
        </constructor>
      </register>

    </container>
  </unity>

</configuration>