@model DemoProject.DTO.Admin.AdminLoginDTO
@section css{
    <link href="@Url.Content("~/Content/admin.less")" rel="stylesheet" type="text/css" />
}

@section js{
    <script src="@Url.Content("~/Scripts/admin.coffee")"></script>
}

<div class="adminLogin" ng-app>
    <div class="header">
    </div>
    <div class="content">
        <div class="content-top"></div>
        <div class="content-middle"></div>
        <div class="content-bottom"></div>
    </div>
    <div class="footer">
    </div>
</div>