@model DemoProject.DTO.Admin.AdminLoginDTO
@section css{
    <link href="@Url.Content("~/Content/admin.less")" rel="stylesheet" type="text/css" />
}

<div class="adminLogin">
    <div class="header">
        &nbsp;
    </div>
    <div class="content">
        df
    </div>
    <div class="footer">
        df
    </div>
</div>