@model DemoProject.DTO.Admin.AdminLoginDTO
<div ng-controller="adminLoginController" ng-init="init()">
    <div class="loginMsg alert alert-error" ng-model="loginMsg" ng-visibility="loginMsg != ''">
        {{loginMsg}}
    </div>
    <div class="form-horizontal login">
        <div class="control-group">
            <label class="control-label" for="inputEmail">管理员：</label>
            <div class="controls">
                <input type="text" name="UserName" ng-model="UserName" ng-enter="login()" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">密 码：</label>
            <div class="controls">
                <input type="password" name="Password" ng-model="Password" ng-enter="login()" />
                <img src="@Url.Content("~/Images/Admin/lock.gif")" class="lock" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" id="btnAdminLogin" value="登陆" ng-click="login()" ng-model="btnAdminLogin" class="btn btn-primary btnLogin" data-loading-text="登陆中..." />
                <input type="reset" ng-click="cancel()" value="取消" class="btn btn-default btnCancel" />
            </div>
        </div>
    </div>
</div>