@model DemoProject.DTO.Admin.AdminLoginDTO
@section header{
test
}
<form method="post" action="/Admin/Login">
    <table class="login">
        <tr>
            <td class="txt">管理员： 
            </td>
            <td class="input" >
                <input type="text" name="UserName" />
            </td>

        </tr>
        <tr>
            <td class="txt">密 码：
            </td>
            <td class="input">
                <input type="text" name="Password" />
                <img src="@Url.Content("~/Images/Admin/lock.gif")" class="lock" />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="btnLogin">
                <input type="submit" value="登陆" />
            </td>
        </tr>

    </table>
</form>

@section footer{
    <div class="copyright">
        Copyright © 2012-2013 www.scottqian.com
    </div>
}