@import "base.less";

/*  Admin Page  */
.admin {
    min-height: 100%;
    background-color: #EEF2FB;
    height: auto !important;
    height: 100%; /*IE6不识别min-height*/
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;

    .header {
        background-image: url("@{rootDomain}Images/Admin/header.jpg");
        background-repeat: repeat-x;
        height: 56px;

        .logo {
            float: left;
        }

        .userInfo {
            float: right;
            line-height: 38px;
            font-size: 12px;
            color: #FFFFFF;
            height: 38px;
            margin-right: 10px;

            span {
                padding-right: 30px;
            }

            .btnLogout {
                cursor: pointer;
            }
        }
    }

    .content {
        padding-bottom: 20px;
        padding-top: 10px;

        .loginContainer {
            margin-top: 100px;
        }

        .loginMsg {
            width: 300px;
            height: 20px;
            margin: 10px auto;
        }

        .login {
            width: 600px;
            margin: 0 auto;

            td {
                padding: 5px;
            }

            .txt {
                text-align: right;
                width: 80px;
            }

            .input {
                text-align: left;
                width: 200px;
            }

            .btnLogin {
                width: 80px;
            }

            .btnCancel {
                margin-left: 80px;
            }
        }

        .leftNav {
            display: table-cell;
            width: 182px;
            vertical-align: top;

            .navTitle {
                background-image: url("/Images/Admin/navTitle.gif");
                background-repeat: no-repeat;
                width: 182px;
                color: #000;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-weight: bold;
                cursor: pointer;
            }

            .navSplit {
                background-image: url("/Images/Admin/navSplit.gif");
                background-repeat: no-repeat;
                width: 182px;
                color: #000;
                height: 5px;
            }

            ul {
                padding: 0;
                margin: 0;
            }

            li {
                line-height: 26px;
                list-style-type: none;
                display: block;
                text-decoration: none;
                height: 26px;
                text-align: center;
                width: 182px;

                a {
                    line-height: 26px;
                    display: block;
                    color: #333;
                    background-image: url("/Images/Admin/navbg-normal.gif");
                    background-repeat: no-repeat;
                    height: 26px;
                    text-decoration: none;
                    width: 182px;
                }

                    a:hover {
                        background-image: url("/Images/Admin/navbg-hover.gif");
                    }
            }
        }

        .main {
            display: table-cell;
            width: 100%;
            vertical-align: top;
            min-width: 900px;
            padding-left: 20px;

            table {
                width: 100%;
            }

            .mainHeader {
                height: 29px;

                .mainHeaderLeft {
                    background-image: url("/Images/Admin/mainHeaderLeft.gif");
                    background-repeat: no-repeat;
                    width: 17px;
                    height: 31px;
                    padding: 0;
                }

                .mainHeaderMiddle {
                    background-image: url("/Images/Admin/mainHeaderMiddle.gif");
                    background-repeat: repeat-x;
                    height: 31px;
                    padding: 0;

                    .mainHeaderTitle {
                        background-image: url("/Images/Admin/mainHeaderTitle.jpg");
                        background-repeat: no-repeat;
                        width: 86px;
                        padding-top: 5px;
                        line-height: 28px;
                        font-weight: bold;
                        text-align: center;
                        height: 28px;
                    }
                }

                .mainHeaderRight {
                    background-image: url("/Images/Admin/mainHeaderRight.gif");
                    background-repeat: no-repeat;
                    width: 17px;
                    height: 31px;
                }
            }

            .mainBody {

                .mainBodyContent {
                    padding-top: 20px;
                    min-height: 450px;

                    .menuList input[type='button'] {
                        margin-right:10px;
                    }
                }

                .mainBodyLeft {
                    background-image: url("/Images/Admin/mainBodyLeft.gif");
                    background-repeat: repeat-y;
                    width: 17px;
                    padding: 0;
                }

                .mainBodyMiddle {
                    background-color: rgb(247, 248, 249);
                }

                .mainBodyRight {
                    background-image: url("/Images/Admin/mainBodyRight.gif");
                    background-repeat: repeat-y;
                    width: 19px;
                    padding: 0;
                }
            }

            .mainFooter {
                .mainFooterLeft {
                    background-image: url("/Images/Admin/mainFooterLeft.gif");
                    background-repeat: no-repeat;
                    width: 17px;
                    height: 31px;
                    padding: 0;
                }

                .mainFooterMiddle {
                    background-image: url("/Images/Admin/mainFooterMiddle.gif");
                    background-repeat: repeat-x;
                    height: 31px;
                }

                .mainFooterRight {
                    background-image: url("/Images/Admin/mainFooterRight.gif");
                    background-repeat: no-repeat;
                    width: 17px;
                    height: 31px;
                }
            }
        }
    }

    .footer {
        background-image: url("@{rootDomain}Images/Admin/footer.gif");
        background-repeat: repeat-x;
        height: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
        clear: both;

        .copyright {
            margin: 0 auto;
            width: 300px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
            color: #ABCAD3;
            line-height: 20px;
        }
    }
}
