@import "base.less";

/*  Admin Login Page  */
.adminLogin {

    background-color:#1D3647;

    .header {
        background-image: url("@{rootDomain}Images/Admin/login-top-bg.gif");
        background-repeat: repeat-x;
        height: 42px;
    }

    .content {
        background-image: url("@{rootDomain}Images/Admin/login-bg.jpg");
        background-repeat: repeat-x;
        height: 532px;
    }

    .footer {
        background-image: url("@{rootDomain}Images/Admin/login-bottom-bg.gif");
        background-repeat: repeat-x;
        height: 20px;
    }
}
